name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup
      uses: ./.github/actions/setup-swift
      with:
        toolchain: latest
    - name: Cache
      uses: actions/cache@v5
      with:
        path: |
          .build
          ~/.swiftpm
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-
    - name: Build (Debug)
      run: swift build
    - name: Build (Release)
      run: swift build -c release
    - name: Upload
      uses: actions/upload-artifact@v6
      with:
        name: httpserver-${{ matrix.os }}
        path: .build/release/HttpServer
        retention-days: 7

  test-unit:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup
      uses: ./.github/actions/setup-swift
      with:
        toolchain: latest
    - name: Cache
      uses: actions/cache@v5
      with:
        path: |
          .build
          ~/.swiftpm
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-
    - name: Build
      run: swift build
    - name: Test Unit
      run: swift test --filter UnitTests

  test-integration:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup
      uses: ./.github/actions/setup-swift
      with:
        toolchain: latest
    - name: Cache
      uses: actions/cache@v5
      with:
        path: |
          .build
          ~/.swiftpm
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-
    - name: Build
      run: swift build
    - name: Test Integration
      run: swift test --filter IntegrationTests

  test-endtoend:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup
      uses: ./.github/actions/setup-swift
      with:
        toolchain: latest
    - name: Cache
      uses: actions/cache@v5
      with:
        path: |
          .build
          ~/.swiftpm
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-
    - name: Build
      run: swift build
    - name: Test EndToEnd
      run: swift test --filter EndToEndTests
